*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
body{

background-color: orange;
}
#App{
    display: flex;
}
.left-slide{
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 90vh;


}
#task-container{
    margin: 1em 2.5em ;
    border: 1px solid black;
}

#task-name-card{
    position: relative;
}
#task-name-card button{
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 100%;
    font-size: 1.5em;
}

#addNewCard{
    width: 100%;
    display: flex;
}
#addNewCard h3 {
    width: 100%;
    text-align: left;

}
#addNewCard span{
    margin-right: 1em;
    font-size: 1.5em;
}
#newCard-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.5em .5em;

}
#newCard-container h3{
    grid-column: 1/-1;
    height: 3em;
}

#pop-up{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    margin: 1em;
    align-items: center;
}
#pop-up *{
  grid-column: 1/-1;
    font-size: 1.2em;
}
#pop-up select{
    width: 100%;
    height: 2em;
    grid-column: 1/2;
    font-size: 1.2em;
}
#pop-up #check-list{
    grid-column: 2/-1;
    height: 2em;

}
#pop-up #check {
    transform: scale(1.5);
    margin: 2px;
}
#pop-up fieldset textarea{
    width: 100%;

}
#pop-up #date-imput{
    height: 2em;
    width: 10em;
}
#pop-up fieldset button{
    margin: 0 10px;

}
#pop-up #delete-card{
    grid-column: 2/-1;
}

